$py-color: #f0591e;
$sy-color: #222;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin mdscreen {
  @media screen and (max-width: 648px) {
    @content;
  }
}
@mixin lgscreen {
  @media screen and (min-width: 649px) {
    @content;
  }
}

@mixin easein {
  transition: 0.5s all ease-in;
}
